.container
  font-size: 7rem
  font-family: Archivo Black
  color: inherit
  z-index: 10
  position: absolute
  top: -35px
  left: -10%
  @media screen and (max-width: 500px)
    font-size: 3.2rem
    top: -25px
    // left: -15%

