html,
body {
  padding: 0;
  margin: 0;
  font-family: Ubuntu, sans-serif;
  line-height: 1.65rem;
  overflow-x: hidden;
  font-size: 1rem;
  scroll-behavior: smooth !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 1rem 0;
}
