.container
  font-size: 4.5rem
  font-family: Archivo Black, sans-serif
  color: inherit
  z-index: 10
  position: absolute
  bottom: 10%
  right: 10%

  @media screen and (min-width: 500px)
    font-size: 7rem


