// variables
// dimensions
$navbar-height: 75px;
// transitions
$theme-transition: 750ms ease-out;
$reveal-transition: 400ms ease-out;
$interact-transition: 200ms ease-out;
// font sizes
$heading-title: 2rem;
$subheading-title: 1.7rem;
$base-text: 1.1rem;
$small-text: 0.95rem;
$xsmall-text: 0.8rem;
// font weights
$bold-text: 600;
$bold-subheading: 700;
$bold-heading: 800;

// utility classes
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center-flex-item {
  justify-content: center;
  align-items: center;
}

.solid-border {
  border: 1px solid;
}

.layer-top-most {
  z-index: 1000;
}

.layer-ninth {
  z-index: 900;
}

.layer-eigth {
  z-index: 800;
}

.layer-seventh {
  z-index: 700;
}

.layer-sixth {
  z-index: 600;
}

.layer-middle {
  z-index: 500;
}

.layer-fourth {
  z-index: 400;
}

.layer-third {
  z-index: 300;
}

.layer-second {
  z-index: 200;
}

.layer-bottom {
  z-index: 100;
}

.active-link {
  cursor: pointer;
}

.center-text {
  text-align: center;
}

//
//
//

.container {
  transition: background-color $theme-transition, color $theme-transition;
}

.articleDescription {
  @extend .center-text;
}

.layoutContainer {
  width: 100%;
  min-height: 100vh;
  padding: $navbar-height 0;
  font-size: $base-text;
  @extend .flex-column;
  @extend .center-flex-item;
}

.titleContainer {
  @extend .flex-column;
}

.titleUnderscore {
  // outline: 1px solid;
  margin: 1.5rem 0;
  margin-bottom: 2.5rem;
  width: 75px;
  display: inline-block;
  align-self: center;
  @extend .solid-border;
}

.layoutContent {
  outline: 2px solid;
  width: clamp(325px, 90%, 1200px);
  padding: 1.5rem 2rem;
}

.navbar {
  height: $navbar-height;
  width: 100%;
  transition: background-color $theme-transition;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  gap: 0 4vw;
  @extend .flex-row;
  @extend .center-flex-item;
  @extend .layer-top-most;
}

.linkContainer {
  @extend .flex-row;
  @extend .center-flex-item;
}

.navDotTracker {
  transition: opacity $interact-transition;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: color;
  margin-right: 10px;
}

.link {
  transition: transform $interact-transition;
}

.link:hover {
  transform: scale(1.15);
}

.skillContainer {
  p {
    margin-bottom: 0;
  }
}

.skillCardWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem 0.25rem;
}

.skillItemContainer {
  position: relative;
  overflow: hidden;
  width: 225px;
}

.skillItem {
  position: absolute;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  transition: top $reveal-transition;
  transition-delay: 250ms;
  @extend .flex-row;
}

.skillItemTextWrapper {
  width: 75%;
}

.skillItemText {
  text-align: center;
  font-size: 1rem;
}

.skillTitle {
  text-align: center;
}

.shuffleTitle {
  font-size: $heading-title;
  font-weight: $bold-heading;
  min-height: 70px;
}

.projectCardContainer {
  display: relative;
  overflow: hidden;
  margin-bottom: 3.5rem;
  height: 100%;
}

.projectCardTitle {
  font-size: $subheading-title;
  font-weight: $bold-subheading;
  text-align: center;
  margin-bottom: 0.5rem;
}

.projectCardDetails {
  margin-bottom: 1rem;
  summary {
    font-weight: $bold-text;
    @extend .active-link;
  }
}
.projectCardDetails > summary::after {
  content: 'expand';
}
.projectCardDetails[open] > summary::after {
  content: 'close';
}
.projectCardSummaryContainer {
  transform-origin: top;
  margin-top: 1rem;
}

.projectCardDetails[open] summary ~ * {
  animation: expand $interact-transition;
}

@keyframes expand {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.detailSummary {
  display: block;
  margin-top: 0.5rem;
  @extend .active-link;
}

.projectCard {
  @extend .flex-column;

  h3 {
    font-weight: $bold-text;
    margin: 1rem 0;
    font-size: inherit;
  }

  h4 {
    margin: 1rem 0;
  }
}

.projectCardImage {
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: cover;
}

.projectCardLinkContainer {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.tagsContainer {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  margin: 0.5rem 0;
  flex-wrap: wrap;
}

.projectCardLink {
  width: 100px;
  transition: background-color $interact-transition;
  @extend .flex-column;
  @extend .center-flex-item;
}

.projectCardLinkIcon {
  margin-right: 0.55rem;
}

.projectCardSummaryContainer {
  // width: 100%;
  // outline: 1px solid;
}

.tag {
  width: 100px;
  color: black;
  padding: 0.25rem 0.75rem;
  font-size: $xsmall-text;
  font-weight: $bold-text;
  @extend .flex-row;
  @extend .center-flex-item;
}

.introContainer {
  @extend .flex-column;
  @extend .center-flex-item;
  gap: 1.5rem;
  width: 100%;
  img {
    border-radius: 50%;
  }

  p {
    margin: 0.5rem 0;
    max-width: 500px;
  }

  a:hover {
    cursor: pointer;
  }
}

.emailCopyIcon {
  display: none;
  opacity: 0;
  transition: opacity $interact-transition;
  margin-left: 1rem;
  @extend .layer-middle;
}

.fillbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  transition: width $interact-transition;
  transform-origin: left;
  @extend .layer-bottom;
}

.emailContainer {
  position: relative;
  font-size: 0.95rem;
  font-weight: $bold-text;
  padding: 0.5rem 0;
  width: 100%;
  max-width: 375px;
  outline: 1px solid;
  order: 2;
  align-self: center;
  border: none;
  background-color: transparent;
  color: inherit;
  @extend .flex-row;
  @extend .center-flex-item;
  @extend .active-link;
  @extend .layer-middle;
}

.emailContainer:hover {
  .emailCopyIcon {
    opacity: 1;
  }
  .fillbar {
    width: 100%;
  }
}

.clipboardMessage {
  order: 1;
  text-align: center;
  margin: 0;
  z-index: 100;
}

.messageEmailWrapper {
  gap: 0 1rem;
  @extend .flex-column;
  @extend .center-flex-item;
}

.email {
  @extend .layer-middle;
}

.socialLinksTitle {
  text-align: center;
}

.socialLinksContainer {
  width: 100%;
  gap: 0 1rem;
  @extend .flex-row;
  @extend .center-flex-item;
}

.footer {
  // height: 80px;
  margin-top: 1rem;
  padding: 1rem 0;
  font-size: $small-text;
  text-align: center;
  @extend .flex-column;
  @extend .center-flex-item;

  a {
    font-weight: $bold-text;
  }
}

.fillboxContainer {
  display: inline-flex;
  align-self: center;
  flex-direction: row;
  width: 100%;
  position: relative;
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: inherit;
  padding: 0.25rem 0.25rem;
}

.fillboxBar {
  position: absolute;
  transform-origin: left;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  transition: width $interact-transition;
  padding: 0;
  border-radius: 0;
  @extend .layer-bottom;
}

.fillboxContainer:hover {
  .fillboxBar {
    width: 100%;
  }
}

@media screen and (min-width: 500px) {
  .container {
    font-size: large;
  }
  .skillCardWrapper {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .introContainer {
    flex-direction: row;
  }
  .emailContainer {
    font-size: $base-text;
    padding: 0.75rem;
  }
  .emailCopyIcon {
    display: inline;
  }
  .skillItemText {
    font-size: inherit;
  }
  .projectCardLink {
    width: 135px;
  }
}

@media screen and (min-width: 750px) {
  .skillCardWrapper {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  .introContainer {
    flex-direction: row;
  }
}
