@use '@styles/utility' as *
@use '@styles/variables' as *

.tag
  width: 115px
  color: black
  padding: 0.1rem 0.75rem
  font-size: $xsmall-text
  background-color: #e76f51
  color: black
  // font-weight: $bold-text
  overflow: hidden
  white-space: nowrap
  @extend .flex-row
  @extend .center-flex-item